:root {
    --orange-color: #FF6565;
    --white-color: #FFFFFF;
    --darkblue-color: #071629;
    --black-color: #FFFFFF;
}

/* Basic Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white-color);
}

a {
    text-decoration: none;
    color: var(--white-color);
}

a:hover,
a:active {
    color: var(--orange-color);
}

button:hover,
button:active {
    opacity: 0.9;
}

.header-hero {
    background-image: url("images/background-hero.png");
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

/* header */
.link-wrapper {
    display: none;
}

header {
    margin: auto;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    max-width: 50rem;
}

header .logo {
    max-width: 8rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

@media (min-width: 768px) {
    .menu {
        display: none;
    }

    header .logo {
        max-width: 14rem;
    }

    .wrapper {
        margin: auto;
    }

    .link-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* hero */
.hero {
    text-align: center;
}

.hero-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10rem;
    max-width: 95%;
    padding-bottom: 5rem;
    /* margin: auto; */
}

.hero-wrapper h1 {
    margin-bottom: 0;
    max-width: 70%;
}

.hero-wrapper .btn {
    color: var(--white-color);
    background-color: var(--orange-color);
    border: none;
    padding: 1rem 2rem;
    margin: 1rem auto 2rem auto;
    border-radius: 2rem;
}

@media (min-width: 768px) {
    .hero-wrapper {
        padding-top: 16rem;
        max-width: 50%;
    }
}